.ant-tabs-ink-bar{
    background-color:rgba(74,74,74,1);
}
.ant-tabs-nav .ant-tabs-tab-active{
    color:rgba(74,74,74,1);
}

.ant-carousel .slick-dots{
    margin:1% 0;
    position:relative;
    
    
}
.ant-carousel .slick-dots li.slick-active button{
    background:linear-gradient(90deg,rgba(255,132,135,1) 0%,rgba(255,19,103,1) 100%);
    border-radius:5px;
    width:40px;
    height:8px;
}
.ant-carousel .slick-dots li button {
    border:1px solid #BCBCBC;
    width:40px;
    height:8px;
    border-radius:5px;
    
}