body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.gradient-icon svg * {
  fill: url(#rg) !important;
}
.ant-input-affix-wrapper .ant-input:not(:last-child){
 
color:white;
background-color: rgba(255, 255, 255, 0.2515);
border-radius: 15px;
}
